<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qdat.secretslambook">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_1"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_1_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SecretSlambook">
        <activity android:name=".InstructionScreen"
            android:theme="@style/InstrScreenTheme.ScreenTheme"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".DairyViewer" />
        <activity
            android:name=".SettingActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/HomeScreenTheme" />
        <activity
            android:name=".AddArticleActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AddDairyTheme" />
        <activity
            android:name=".Auth_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/HomeScreenTheme" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".database.DairyDataProvider"
            android:authorities="com.qdat.secretslambook"
            android:exported="false" />
    </application>

</manifest>